################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShopApiSolution/ShopAPI/appsettings.Development.json
